.biorhythm-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.intro-text h2, .intro-text h3 {
  text-align: center;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 14px;
  line-height: 1.6; /* 行間を広げて読みやすく */
  margin-bottom: 15px;
  text-align: justify; /* テキストを均等配置 */
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #1b334d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #0056b3;
}

.question-section h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.question-box {
  margin-bottom: 20px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #415a75;
  color: rgb(249, 247, 247);
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

.option:hover {
  background-color: #0056b3;
}

.option input[type="radio"] {
  display: none; /* ラジオボタン自体を非表示に */
}

.option input[type="radio"]:checked + .option {
  background-color: #76b0ee;
  border: 2px solid #004080;
}

/* モバイル対応 */
@media (max-width: 600px) {
  .biorhythm-container {
    padding: 10px;
  }

  .intro-text p {
    font-size: 10px;
    line-height: 1.4;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }

  .option {
    font-size: 14px;
    padding: 8px;
  }
}

/*prologueのページ*/
.image-container {
  text-align: center; /* Center the image horizontally */
  margin: 5px; /* Add some margin if needed */
}

.prologue-image {
  width: 100%;
  max-width: 650px; /* Adjust the max width as needed */
  height: auto; /* Maintain the aspect ratio */
}
