.home-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  /*overflow-y: auto;*/
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  animation: slideIn 1s ease-in-out forwards;
}

.subtitle {
  font-size: 12px; /* フォントサイズを小さく */
  color: #666;
  margin: 5px 0; /* 上下の余白を減らす */
  line-height: 0.9; /* 行間を詰める */
}


.fade-in-text {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.id-section {
  margin-bottom: 20px;
}

.id-box {
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  background-color: #f0f8ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.generate-btn, .check-btn, .navigate-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.generate-btn:hover, .check-btn:hover, .navigate-btn:hover {
  background-color: #0056b3;
}

.id-input {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
}

.result-section {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .home-container {
      padding: 15px;
  }

  .app-title {
      font-size: 20px;
  }

  .fade-in-text {
      font-size: 14px;
  }

  .generate-btn, .check-btn, .navigate-btn {
      padding: 8px 16px;
      font-size: 14px;
  }

  .id-input {
      width: 100%;
  }
}
